<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CarutEscu</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top nav_menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CarutEscu", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li><a href="/Posts/Index" class="glyphicon glyphicon-home"> Home</a></li>
                        <li><a href="/Posts/New" class="glyphicon glyphicon-plus-sign"> New Post</a></li>
                        <li><a href="/Groups/Index" class="glyphicon glyphicon-list-alt"> Groups</a></li>
                        <li><a href="/Groups/New" class="glyphicon glyphicon-plus-sign"> New Group</a></li>
                        <li><a href="/Profiles/Index" class="glyphicon glyphicon-user"> Profile</a></li>
                        <li>@Html.ActionLink("Show Users", "Index", "Users")</li>
                    </ul>
                }

                @if (User.IsInRole("User"))
                {
                    <ul class="nav navbar-nav">
                        <li><a href="/Posts/Index" class="glyphicon glyphicon-home"> Home</a></li>
                        <li><a href="/Posts/New" class="glyphicon glyphicon-plus-sign"> New Post</a></li>
                        <li><a href="/Groups/Index" class="glyphicon glyphicon-list-alt"> Groups</a></li>
                        <li><a href="/Groups/New" class="glyphicon glyphicon-plus-sign"> New Group</a></li>
                        <li><a href="/Profiles/Index" class="glyphicon glyphicon-user"> Profile</a></li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer-position">
            <p>&copy; CarutEscu: connect to people you don't like</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
