
@{
    ViewBag.Title = "Index";
}
<h1>@ViewBag.Message</h1>
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-controlborderless" type="text" name="search"
                               value="@ViewBag.SearchString"
                               placeholder="Search user">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success"
                                type="submit">
                            Search
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
@if (ViewBag.search != "" && ViewBag.CountUsers > 0)
{
    <ul class="list-group">
        @foreach (var user in ViewBag.UsersList)
        {
            <li>
                <i class="glyphicon glyphicon-user"></i>
                <a href="/Profiles/Show/@user.Id"> @user.UserName </a>
                <br />
            </li>

        }
    </ul>
}
<h2>Grupuri</h2>

<a class="btn btn-primary" style="background-color: #5680E9" href="/Groups/New">Adauga un grup nou</a>
<a class="btn btn-primary" style="background-color: #5680E9" href="/Posts/Index">Inapoi la postari</a>

<br />
@foreach (var group in ViewBag.Groups)
{
    if (group.GroupId != 1)
    {
        <h1>@group.GroupName</h1>
        <p>@group.GroupDescription</p>
        <br />

        <a class="btn btn-info" href="/Groups/Show/@group.GroupId">Afisare grup</a>

        int count = 0;
        foreach (var user in group.Users)
        {
            if (ViewBag.User == user)
            {
                <i class="glyphicon glyphicon-ok">Esti inscris in grup</i>
                count = 1;
                break;
            }
        }
        if (count == 0)
        {
            <a class="btn btn-info" href="/Groups/NewMember/@group.GroupId">Inscrie-te in grup</a>
        }


        <br />
    }


}

