@model BDProiect.Models.Group
@{
    ViewBag.Title = "Show";
}
<br />
<br />
<a class="glyphicon glyphicon-chevron-left pull-left" href="javascript:history.back();"> Inapoi</a>
<a class="btn btn-primary pull-right" href="/Posts/Index">Inapoi la postari</a>
<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading">

        <strong>@ViewBag.Group.GroupName</strong>
        <br />
        @if (ViewBag.isGroupOwner)
        {
            <a class="glyphicon glyphicon-edit pull-left" href="/Groups/Edit/@ViewBag.Group.GroupId"> Modifica grupul</a>
        }

        @if (ViewBag.isGroupOwner || ViewBag.isAdmin)
        {
            <form method="post" action="/Groups/Delete/@ViewBag.Group.GroupId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="glyphicon glyphicon-trash pull-right" style="border: none; background: transparent" type="submit"></button>
            </form>
        }


        <br />
        <br />

    </div>
    <div class="panel-body">
        @if (ViewBag.Group.GroupDescription != null)
        {
            <div>Descriere grup: <br /><strong>@ViewBag.Group.GroupDescription</strong></div>
    
        }
        else
        {
            <a class="glyphicon glyphicon-edit" href="/Groups/Edit/@ViewBag.Group.GroupId"> Adauga descriere</a>
            <br /><br />
        }

        <i class="glyphicon glyphicon-user">Grup creat de @ViewBag.Group.User.UserName</i>
        <br />

    </div>
</div>




@foreach (var post in ViewBag.Group.Posts)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <strong>@post.User.UserName</strong>
                    <hr />
                    <p>@post.Content</p>
                    <small class="pull-right">@post.Date</small>
                </div>

                @if (ViewBag.isGroupOwner || post.UserId == ViewBag.UserId || ViewBag.isAdmin)
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <form method="post" action="/Posts/Delete/@post.PostId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none;
                            background: transparent" type="submit"></button>
                        </form>
                    </div>
                }

                @if (post.UserId == ViewBag.UserId || ViewBag.isAdmin)
                {
                    <div style="display: inline-block; float : left">
                        <a class="glyphicon glyphicon-pencil"
                           href="/Posts/Edit/@post.PostId"></a>
                    </div>


                    <div class="col-md-2"></div>
                }
            <div style="display:inline-block; float : right; margin-right:15px">
                <a class="glyphicon glyphicon-comment" href="/Posts/Show/@post.PostId"></a>
            </div>
               

            </div>
        </div>
    </div>
    <hr />
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                @using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
                {
                    @Html.Hidden("GroupId")

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <input type="hidden" name="GroupId" value="@ViewBag.Group.GroupId" />
                    @Html.Label("Content", "Continut postare")
                    <br />
                    @Html.TextArea("Content", null, new { @class = "form=control" })
                    <br />
                    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                    <button class="btn btn-success " type="submit">
                        Adauga
                        postare
                    </button>
                }

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



