
@{
    ViewBag.Title = "Afisare utilizatori";
}
<h1>@ViewBag.Message</h1>
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-controlborderless" type="text" name="search"
                               value="@ViewBag.SearchString"
                               placeholder="Search user">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success"
                                type="submit">
                            Search
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
@if (ViewBag.search != "" && ViewBag.CountUsers > 0)
{
    <ul class="list-group">
        @foreach (var user in ViewBag.UsersList)
        {
            <li>
                <i class="glyphicon glyphicon-user"></i>
                <a href="/Profiles/Show/@user.Id"> @user.UserName </a>
                <br />
            </li>

        }
    </ul>
}
<h2>Utilizatori</h2>

@foreach (var user in ViewBag.UsersList)
{<div class="panel-heading">Nume utilizator: @user.UserName</div>
<div class="panel-body">
    <i class="glyphicon glyphicon-envelope"></i> Email utilizator: <span class="label label-default">@user.Email</span>
    <br /><br />
    @if (@user.PhoneNumber != null)
    {
        <i class="glyphicon glyphicon-phone"></i>@:Telefon utilizator:<span class="label label-default">@user.PhoneNumber</span>
    }
</div>
<div class="panel-footer">
    <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id"> Editare utilizator</a> <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id"> Vizualizare utilizator</a>
</div>
<br />
<br />
}