@model MicroSocialPlatform.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-controlborderless" type="text" name="search"
                               value="@ViewBag.SearchString"
                               placeholder="Search user">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success"
                                type="submit">
                            Search
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
<br />
@if (ViewBag.search != "" && ViewBag.CountUsers > 0)
{
    <div class="dropdown pull-right">
        <button class="dropbtn">Search results</button>
        <div class="dropdown-content">
            @foreach (var user in ViewBag.UsersList)
            {
                <li class="dropdown-item" style="list-style-type: none">
                    <a href="/Profiles/Show/@user.Id" class="glyphicon glyphicon-user"> @user.UserName </a>
                    <br />
                </li>}
        </div>
    </div>
}

<br />

<div class="container">
    <br />
    <h2 style="text-align:center">@ViewBag.User.UserName</h2>
    <br />
    @if (ViewBag.ProfileDescription != null)
    {
        <h5 style="text-align:center"><strong>@ViewBag.ProfileDescription</strong></h5>
        <br />
        <a class="glyphicon glyphicon-edit" href="/Profiles/Edit/"> Editeaza profil!</a>
    }
    else
    {
        <a class="glyphicon glyphicon-edit " href="/Profiles/Edit/" style="text-align:center;display:block"> Adauga descriere</a>
        <br />
        <br />
    }
    <hr />
    <br />
    <br />
</div>





<br />
<br />

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Postari</a></li>
    <li><a href="/Profiles/ShowFriends/@ViewBag.User.Id">Prieteni<span class="badge">@ViewBag.Count</span></a></li>
    <li><a href="/Profiles/Notifications">Notificari<span class="badge">@ViewBag.FrReqCount</span></a></li>
</ul>

<br />
<br />

@foreach (var post in ViewBag.Posts)
{
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="panel panel-default col-sm-8">
            <div class="panel-body">
                <br /><strong>@post.Content</strong>
                <br />
                <br />
                <div class="panel-footer">
                    <a class="glyphicon glyphicon-comment" href="/Posts/Show/@post.PostId"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

}



