
@{
    ViewBag.Title = "Notifications";
}

<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-controlborderless" type="text" name="search"
                               value="@ViewBag.SearchString"
                               placeholder="Search user">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success"
                                type="submit">
                            Search
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
@if (ViewBag.search != "" && ViewBag.CountUsers > 0)
{
    <ul class="list-group">
        @foreach (var user in ViewBag.UsersList)
        {
            <li>
                <i class="glyphicon glyphicon-user"></i>
                <a href="/Profiles/Show/@user.Id"> @user.UserName </a>
                <br />
            </li>

        }
    </ul>
}

<div class="container">
    <br />
    <h2 style="text-align:center">@ViewBag.User.UserName</h2>
    <br />
    @if (ViewBag.ProfileDescription != null)
    {
        <h5 style="text-align:center"><strong>@ViewBag.ProfileDescription</strong></h5>
        <br />
        <a class="glyphicon glyphicon-edit" href="/Profiles/Edit/"> Editeaza profil!</a>
    }
    else
    {
        <a class="glyphicon glyphicon-edit " href="/Profiles/Edit/" style="text-align:center;display:block"> Adauga descriere</a>
        <br />
        <br />
    }
    <hr />
    <br />
    <br />
</div>


<ul class="nav nav-tabs">
    <li ><a href="/Profiles/Index">Postari</a></li>
    <li><a href="/Profiles/ShowFriends/@ViewBag.User.Id">Prieteni<span class="badge">@ViewBag.Count</span></a></li>
    <li class="active"><a href="#">Notificari<span class="badge">@ViewBag.FrReqCount</span></a></li>
</ul>

<div class="container">

    @if (ViewBag.FrReqCount != 0)
    {
        foreach (var fr in ViewBag.FriendshipRequests)
        {
            <div class="row">
                <br />
                <p>Utilizatorul <a href="/Profiles/Show/@fr.User1.Id">@fr.User1.UserName</a> ti-a trimis o cerere de prietenie </p>

                <form method="post" action="/Users/AcceptFriendship">
                    <input type="hidden" name="FriendId" value="@fr.FriendId" />
                    <button type="submit" class="btn btn-success pull-left"><span class="glyphicon glyphicon-ok"></span> Accepta</button>
                </form>
                <form method="post" action="/Users/DeclineFriendship/@fr.FriendId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" type="submit">
                        <span class="glyphicon glyphicon-remove"></span>
                        Respinge
                    </button>
                </form>
            </div>
        }
    }


</div>