@model MicroSocialPlatform.Models.ApplicationUser
@{
    ViewBag.Title = "ShowFriends";
}

<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-controlborderless" type="text" name="search"
                               value="@ViewBag.SearchString"
                               placeholder="Search user">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success"
                                type="submit">
                            Search
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
@if (ViewBag.search != "" && ViewBag.CountUsers > 0)
{
    <ul class="list-group">
        @foreach (var user in ViewBag.UsersList)
        {
            <li>
                <i class="glyphicon glyphicon-user"></i>
                <a href="/Profiles/Show/@user.Id"> @user.UserName </a>
                <br />
            </li>

        }
    </ul>
}

<br />
<br />
<h2 style="text-align:center">@ViewBag.User.UserName</h2>
<br />
@if (ViewBag.ProfileDescription != null)
{
    <h5 style="text-align:center"><strong>@ViewBag.ProfileDescription</strong></h5>
    <br />
    if (ViewBag.User.Id == ViewBag.CurrentUser.Id)
    {
        <a class="glyphicon glyphicon-edit" href="/Profiles/Edit/"> Editeaza profil!</a>
    }


}
else if ((ViewBag.User.Id == ViewBag.CurrentUser.Id))
{
    <a class="glyphicon glyphicon-edit " href="/Profiles/Edit/" style="text-align:center;display:block"> Adauga descriere</a>
    <br />
    <br />
}
<hr />


@if (ViewBag.FriendCount == 0 && (ViewBag.User.Id != ViewBag.CurrentUser.Id))
{
    <form method="post" action="/Users/AddFriend">
        <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
        <button type="submit">Add Friend</button>
    </form>
    <div><strong>Nu aveti permisiunea de a vizualiza profilul acesta!</strong></div>
}
else
{

    int count = 0;
    int isFriend = 0;
    foreach (var fr in ViewBag.Friends)
    {
        if ((fr.User1_Id == ViewBag.User.Id && fr.User2_Id == ViewBag.CurrentUser.Id) || (fr.User2_Id == ViewBag.User.Id && fr.User1_Id == ViewBag.CurrentUser.Id))
        {
            count = 1;
            if (fr.Accepted == true)
            {
                isFriend = 1;
                <i class="glyphicon glyphicon-ok">Sunteti prieteni</i>
                <form method="post" action="/Users/DeclineFriendship/@fr.FriendId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" type="submit">
                        <span class="glyphicon glyphicon-remove"></span>
                        Sterge prieten
                    </button>
                </form>
                <br />
                <hr />
                break;
            }
            else
            {
                <i class="glyphicon glyphicon-time">Cererea este in asteptare</i>
                <br />
                <hr />

                if (ViewBag.User.Visibility == false)
                {
                    <br />
                    <hr />
                    <div><strong>Nu aveti permisiunea de a vizualiza profilul acesta!</strong></div>
                }

                break;
            }

        }
    }
    if (count == 0 && (ViewBag.User.Id != ViewBag.CurrentUser.Id))
    {
        <form method="post" action="/Users/AddFriend">
            <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
            <button type="submit">Add Friend</button>
        </form>
        <br />

    }


    if (isFriend == 1 || ViewBag.User.Visibility == true || ViewBag.isAdmin || (ViewBag.User.Id == ViewBag.CurrentUser.Id))
    {
        <ul class="nav nav-tabs">
            @if (ViewBag.User.Id != ViewBag.CurrentUser.Id)
            {
                <li><a href="/Profiles/Show/@ViewBag.User.Id">Postari</a></li>
            }
            else
            {
                <li><a href="/Profiles/Index">Postari</a></li>
            }

            <li class="active"><a href="#">Prieteni<span class="badge">@ViewBag.Count</span></a></li>

            @if (ViewBag.User.Id == ViewBag.CurrentUser.Id)
            {
                <li><a href="/Profiles/Notifications">Notificari<span class="badge">@ViewBag.FrReqCount</span></a></li>
            }
        </ul>
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Prieteni</div>
            <ul class="list-group">
                @foreach (var fr in ViewBag.UserFriends)
                {
                    if (fr.User1_Id != ViewBag.User.Id)
                    {
                        <li class="list-group-item"><a href="/Profiles/Show/@fr.User1_Id">@fr.User1.UserName</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="/Profiles/Show/@fr.User2_Id">@fr.User2.UserName</a></li>
                    }
                }
            </ul>
        </div>
    }


}
