@model MicroSocialPlatform.Models.ApplicationUser
@{
    ViewBag.Title = "Show";
}

<div class="container">
    <div class="pull-right">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" method="GET">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-controlborderless" type="text" name="search"
                                   value="@ViewBag.SearchString"
                                   placeholder="Search user">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success"
                                    type="submit">
                                Search
                            </button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div>
</div>
<br />

@if (ViewBag.search != "" && ViewBag.CountUsers > 0)
{
    <div class="dropdown pull-right">
        <button class="dropbtn">Search results</button>
        <div class="dropdown-content">
            @foreach (var user in ViewBag.UsersList)
            {
                <li class="dropdown-item" style="list-style-type: none">
                    <a href="/Profiles/Show/@user.Id" class="glyphicon glyphicon-user"> @user.UserName </a>
                    <br />
                </li>}
        </div>
    </div>
}

<br />q

<br />
<h2 style="text-align:center">@ViewBag.User.UserName</h2>
<br />
@if (ViewBag.ProfileDescription != null)
{
    <h5 style="text-align:center"><strong>@ViewBag.ProfileDescription</strong></h5>
    <br />

}
<hr />


@if (ViewBag.FriendCount == 0 && (ViewBag.User.Id != ViewBag.CurrentUser.Id))
{
    <form method="post" action="/Users/AddFriend">
        <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
        <button type="submit">Add Friend</button>
    </form>
    <div><strong>Nu aveti permisiunea de a vizualiza profilul acesta!</strong></div>
}
else
{

    int count = 0;
    int isFriend = 0;
    foreach (var fr in ViewBag.Friends)
    {
        if ((fr.User1_Id == ViewBag.User.Id && fr.User2_Id == ViewBag.CurrentUser.Id) || (fr.User2_Id == ViewBag.User.Id && fr.User1_Id == ViewBag.CurrentUser.Id))
        {
            count = 1;
            if (fr.Accepted == true)
            {
                isFriend = 1;

                <form method="post" action="/Users/DeclineFriendship/@fr.FriendId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" type="submit">
                        <span class="glyphicon glyphicon-remove"></span>
                        Sterge prieten
                    </button>
                </form>
                <br />
                <hr />
                break;
            }
            else
            {
                <i class="glyphicon glyphicon-time">Cererea este in asteptare</i>
                <br />
                <hr />
                if (ViewBag.User.Visibility == false)
                {

                    <br />
                    <hr />
                    <div><strong>Nu aveti permisiunea de a vizualiza profilul acesta!</strong></div>
                }
                break;
            }

        }
    }
    if (count == 0 && (ViewBag.User.Id != ViewBag.CurrentUser.Id))
    {
        <form method="post" action="/Users/AddFriend">
            <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
            <button type="submit">Add Friend</button>
        </form>
        <br />

    }

    if (isFriend == 1 || ViewBag.User.Visibility == true || ViewBag.isAdmin)
    {
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Postari</a></li>
            <li><a href="/Profiles/ShowFriends/@ViewBag.User.Id">Prieteni<span class="badge">@ViewBag.Count</span></a></li>
        </ul>
        <br />
        foreach (var post in ViewBag.Posts)
        {
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-6 ">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <br /><strong>@post.Content</strong>
                            <br />
                        </div>
                        <div class="panel-footer">
                            <a class="glyphicon glyphicon-comment" href="/Posts/Show/@post.PostId"></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
