@model MicroSocialPlatform.Models.ApplicationUser
@{
    ViewBag.Title = "ShowFriends";
}
<div class="pull-right" style="display: inline-flex">
    <div class="container" style="float:left">
        <div class="pull-right">
            <br />
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" method="GET">
                        <div class="card-body row no-gutters align-items-center" style="display:inline-flex">
                            <div class="col-auto" style="float:right; width:200px; height:100px">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col" style="float:right; width:200px">
                                <input class="form-control form-control-lg form-controlborderless" type="text" name="search" style="height: 45px"
                                       value="@ViewBag.SearchString"
                                       placeholder="Search user">
                            </div>
                            <!--end of col-->
                            <div class="col-auto" style="float:left; padding-left:3px">
                                <button class="btn btn-lg btn-success"
                                        type="submit">
                                    Search
                                </button>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of col-->
                </div>
                </form>
            </div>
            <!--end of col-->
        </div>
        <!--end of col-->
    </div>
    @if (ViewBag.search != "" && ViewBag.CountUsers > 0)
    {
        <div class="dropdown pull-right" style="float: right; width: 200px; height: 30px; padding-top:35px; padding-left: 5px">
            <button class="dropbtn">Search results</button>
            <div class="dropdown-content">
                @foreach (var user in ViewBag.UsersList)
                {
                    <li class="dropdown-item" style="list-style-type: none">
                        <a href="/Profiles/Show/@user.Id" class="glyphicon glyphicon-user"> @user.UserName </a>
                        <br />
                    </li>}
            </div>
        </div>}
</div>

<br />

<br />
<h2 style="text-align:center">
    @ViewBag.User.UserName
</h2>

@if (ViewBag.User.Visibility == true)
{
    <i class="glyphicon glyphicon-globe" style="text-align:center; margin-left:auto;margin-right:auto;display:block"></i>

}
else
{
    <i class="glyphicon glyphicon-lock" style="text-align:center; margin-left:auto;margin-right:auto;display:block"></i>
}
<br />

@if (ViewBag.ProfileDescription != null)
{
    <h5 style="text-align:center"><strong>@ViewBag.ProfileDescription</strong></h5>
    <br />
    if (ViewBag.User.Id == ViewBag.CurrentUser.Id)
    {
        <a class="glyphicon glyphicon-edit" href="/Profiles/Edit/"> Editeaza profil!</a>
    }


}
else if ((ViewBag.User.Id == ViewBag.CurrentUser.Id))
{
    <a class="glyphicon glyphicon-edit " href="/Profiles/Edit/" style="text-align:center;display:block"> Adauga descriere</a>
    <br />
    <br />
}
<hr />


@if (ViewBag.FriendCount == 0 && (ViewBag.User.Id != ViewBag.CurrentUser.Id))
{
    <form method="post" action="/Users/AddFriend">
        <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
        <button type="submit">Add Friend</button>
    </form>
    <div><strong>Nu aveti permisiunea de a vizualiza profilul acesta!</strong></div>
}
else
{

    int count = 0;
    int isFriend = 0;
    foreach (var fr in ViewBag.Friends)
    {
        if ((fr.User1_Id == ViewBag.User.Id && fr.User2_Id == ViewBag.CurrentUser.Id) || (fr.User2_Id == ViewBag.User.Id && fr.User1_Id == ViewBag.CurrentUser.Id))
        {
            count = 1;
            if (fr.Accepted == true)
            {
                isFriend = 1;
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #c1c8e4;height: 50px;width: 200px;font-size: 20px;">
                        <i class="glyphicon glyphicon-ok">Sunteti prieteni</i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <form method="post" action="/Users/DeclineFriendship/@fr.FriendId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="dropdown-item btn btn-danger" type="submit">
                                <span class="glyphicon glyphicon-remove"></span>
                                Sterge prieten
                            </button>
                        </form>

                    </div>
                </div>
                <br />
                <hr />
                break;
            }
            else
            {
                <i class="glyphicon glyphicon-time">Cererea este in asteptare</i>
                <br />
                <hr />

                if (ViewBag.User.Visibility == false)
                {
                    <br />
                    <hr />
                    <div><strong>Nu aveti permisiunea de a vizualiza profilul acesta!</strong></div>
                }

                break;
            }

        }
    }
    if (count == 0 && (ViewBag.User.Id != ViewBag.CurrentUser.Id))
    {
        <form method="post" action="/Users/AddFriend">
            <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
            <button type="submit">Add Friend</button>
        </form>
        <br />

    }


    if (isFriend == 1 || ViewBag.User.Visibility == true || ViewBag.isAdmin || (ViewBag.User.Id == ViewBag.CurrentUser.Id))
    {
        <ul class="nav nav-tabs">
            @if (ViewBag.User.Id != ViewBag.CurrentUser.Id)
            {
                <li><a href="/Profiles/Show/@ViewBag.User.Id">Postari</a></li>
            }
            else
            {
                <li><a href="/Profiles/Index">Postari</a></li>
            }

            <li class="active"><a href="#">Prieteni<span class="badge">@ViewBag.Count</span></a></li>

            @if (ViewBag.User.Id == ViewBag.CurrentUser.Id)
            {
                <li><a href="/Profiles/Notifications">Notificari<span class="badge">@ViewBag.FrReqCount</span></a></li>
            }
        </ul>
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Prieteni</div>
            <ul class="list-group">
                @foreach (var fr in ViewBag.UserFriends)
                {
                    if (fr.User1_Id != ViewBag.User.Id)
                    {
                        <li class="list-group-item"><a href="/Profiles/Show/@fr.User1_Id">@fr.User1.UserName</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="/Profiles/Show/@fr.User2_Id">@fr.User2.UserName</a></li>
                    }
                }
            </ul>
        </div>
    }


}
