@model BDProiect.Models.Post
@{
    ViewBag.Title = "Edit";
}

<br />
<br />


<div class="row">
    <div class="col-sm-2"></div>
    <div class="panel panel-default col-sm-8" style="text-align: center; width: 70%; margin-left: 15%; display:inline">
        <div class="panel-body" id="nou" style="border-radius:20px">

            <form method="post" action="/Posts/Edit/@Model.PostId" style="margin-top:20px; padding-left: inherit; padding-right: inherit;">

                @Html.HttpMethodOverride(HttpVerbs.Put)
                @Html.Hidden("UserId")
                @Html.Hidden("PostId")
                @Html.Label("Content", "Editeaza postare")
                <br />
                <br />
                <div style="align-content:center;">

                    @Html.Editor("Content")
                    <br />
                    @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
                </div>

                <br />
                @Html.Hidden("Date")
                <br />
                @Html.Hidden("GroupId")
                <button class="btn btn-success " type="submit" style=" background: #5680e9; border-color: #5680e9"><i class="glyphicon glyphicon-pencil" style="margin-right:3px"></i> Modifica postare</button>
            </form>


        </div>
    </div>
    <div class="col-sm-2"></div>
</div>