
@{
    ViewBag.Title = "Index";
}
<h1>@ViewBag.Message</h1>

<br />

<h2>Postari</h2>

<a class="btn btn-primary pull-left" style="background-color: #5680E9" href="/Posts/New">Adauga postare</a>
<br />

<hr />

@foreach(var post in ViewBag.Posts)
{
    <br />
<div class="panel panel-default">
    <div class="panel-heading">
        @if (post.GroupId == 1)
        {
            <i class="glyphicon glyphicon-user"></i>
            <a href ="/Profiles/Show/@post.User.Id"> @post.User.UserName </a>
        }
        else
        {
            <i class="glyphicon glyphicon-user"></i>
            <a href ="/Profiles/Show/@post.User.Id"> @post.User.UserName </a> <i> > <a href="/Groups/Show/@post.GroupId"> @post.Group.GroupName</a></i>
        }
    </div>

    <div class="panel-body">
        <br /><br /><strong>@post.Content</strong>
        <br />
        <!--<span class="label label-success">@post.Date</span>-->
       <br />
        <br />

        <div class="panel-footer">
            <a class="glyphicon glyphicon-comment" href="/Posts/Show/@post.PostId"></a>
        </div>
    </div>
</div>
}