
@{
    ViewBag.Title = "New";
}

<h1>@ViewBag.Message</h1>
<br />
<button class="btn btn-primary" style="background-color: #5680E9" onclick="window.location.href='/Posts/Index'">Inapoi la postari</button>
<br />
<div class="row">
    <div class="col-sm-2"></div>
    <div class="panel panel-default col-sm-8" style="text-align: center; width: 70%; margin-left: 15%; display:inline">
        <div class="panel-body">

            @using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
            {
                @Html.Hidden("UserId")

                @Html.Label("Content", "Scrie o postare")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })
                <br />
                @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
                <br />
                <br />
                <button class="btn btn-success" type="submit" style=" background: #5680e9; border-color: #5680e9"> Adauga postare</button>
            }


        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
