@model BDProiect.Models.Post
<h1>@ViewBag.Message</h1>
@{
    ViewBag.Title = "Show";
}
<br />
<button class="btn btn-primary" style="background-color: #5680E9" onclick="window.location.href='/Posts/Index'">Inapoi la postari</button>
<br />
<br />

<div class="panel panel-default">
    <div class="panel-heading"><strong>@ViewBag.Post.User.UserName</strong></div>
    <div class="panel-body">
        <br /><strong>@ViewBag.Post.Content</strong>
        <br /><br />

        @if (ViewBag.isAdmin || ViewBag.isPostOwner)
        {
            <a class="btn btn-success pull-left" href="/Posts/Edit/@ViewBag.Post.PostId">Modifica postare</a>
            <!-- @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = @Model.PostId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Sterge articol</button>
            }
            <div class="clearfix"></div> -->
            <form method="post" action="/Posts/Delete/@ViewBag.Post.PostId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">
                    Sterge
                    postare
                </button>
            </form>
        }
    </div>
</div>



@foreach (var comm in ViewBag.Post.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:white; border-radius:15px 50px 30px 5px; padding:20px">
                <div>
                    <br />
                    <strong>@comm.User.UserName</strong>
                    <hr />
                    <p>@comm.Content</p>
                    <small class="pull-right">@comm.Date</small>
                </div>

                @if (ViewBag.isPostOwner || comm.UserId == ViewBag.UserId || ViewBag.isAdmin)
                {
                    <div style="display: inline-block; float : left ; margin-right: 15px">
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }

                @if (comm.UserId == ViewBag.UserId || ViewBag.isAdmin)
                {
                    <div style="display: inline-block; float : left">
                        <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.CommentId"></a>
                    </div>

                }


            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                @using (Html.BeginForm(actionName: "New", controllerName: "Comments"))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <input type="hidden" name="PostId" value="@ViewBag.Post.PostId" />
                    @Html.Label("Content", "Continut comentariu")
                    <br />
                    @Html.TextArea("Content", null, new { @class = "form=control" })
                    <br />
                    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                    <button class="btn btn-success " type="submit">
                        Adauga
                        comentariu
                    </button>
                }

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">

                <form method="post" action="/Comments/New">
                    <div class="panel-body">
                        <input type="hidden" name="PostId" value="@Model.PostId" />
                        <label>Continut comentariu</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        <br />
                        <button class="btn btn-success " type="submit">Adauga comentariu</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>-->
